* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    background: #eee;
}

select,
button {
    background: #99f;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.main {
    text-align: center;
    flex-grow: 1;
    background: #999;
}
h1 {
    margin-bottom: 25px;
    font-size: 32px;
}
h4 {
    margin-bottom: 10px;
    font-size: 28px;
}
span {
    text-decoration: underline;
}